{{define "header.html"}}

<!-- Docs master nav -->
<header class="navbar navbar-static-top bs-docs-nav admin-header" id="top" role="banner">
    <div class="container">
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a target="_blank" href="http://v3.bootcss.com/">bootstrap学习</a>
                </li>
                <li>
                    <a href="#">golang admin demo 系统</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a target="_blank" href="http://blog.csdn.net/freewebsys">freewebsys博客</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

{{end}}