{{define "left_menu.html"}}

<div class="col-md-2" role="complementary">
    <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
        <ul class="nav bs-docs-sidenav">
            <li>
                <a href="#">菜单</a>
                <ul class="nav">
                    <li><a href="#overview-doctype">HTML5 文档类型</a></li>
                    <li><a href="#overview-mobile">移动设备优先</a></li>
                    <li><a href="#overview-type-links">排版与链接</a></li>
                    <li><a href="#overview-normalize">Normalize.css</a></li>
                    <li><a href="#overview-container">布局容器1</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

{{end}}