.admin-header{
    background-color: #563d7c;
    color: #fff;
}
.admin-header a{
    color: #fff;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #fff;
    text-align: center;
    background-color: #563d7c;
}
.footer a{
    color: #fff;
}